* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

nav {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.nav-link {
  color: black;
  padding: 10px 11px;
  border-radius: 10px;
}

.nav-link:hover {
  color: white;
  background-color: black;
  border-radius: 10px;
}
/*=====================================================================================   user2                       */
#opening {
  display: flex;
  flex-direction: column;
  margin: 150px auto 105px auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5% 0;
  color: rgb(255, 242, 242);
  background-image: url(../images/motor1.jpeg);
  width: 80%;
  height: 65vh;
  background-color: black;
  border-radius: 30px;
  border: 4px solid black;
  box-shadow: 5px 10px black;
}

#opening h2 {
  font-size: 50px;
  font-family: "Courier Prime";
  font-weight: 500;
  text-shadow: 4px 4px #a51a1a;
  padding-bottom: 30px;
}

#opening p {
  font-family: "Poppins";
  text-shadow: 3px 3px #a51a1a;
}

.content {
  display: flex;
  margin: 0px auto 105px auto;
  padding-top: 30px;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  opacity: 1;
}

.content.muncul {
  opacity: 0;
}

.content .content-left {
  margin-left: 50px;
  width: 400px;
}
.content .content-left h1 {
  font: 70px "Montserrat", sans-serif;
  padding-bottom: 20px;
}
.content .content-left p,
.contentTwo .contentTwo-rigth p {
  padding-bottom: 30px;
}
.content .content-left button,
.contentTwo .contentTwo-rigth button {
  font: 20px "Montserrat", sans-serif;
  padding: 20px;
  color: white;
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.content .content-left button:hover,
.contentTwo .contentTwo-rigth button:hover {
  color: black;
  background-color: white;
  border: 4px solid black;
}

.content .content-rigth img,
.contentTwo .contentTwo-left img {
  border-radius: 30px;
  border: 4px solid black;
  box-shadow: 5px 10px;
}

#carrousel .carousel-item img,
#closing img {
  border: 5px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px rgb(0, 0, 0, 0.6);
}

#closing {
  font-family: "Poppins", sans-serif;
}

/* carrousel */

#carrousel img {
  width: 55%;
}
/* alhir carrousel */
/*=====================================================================================   user2                       */

/*=====================================================================================   product                       */

#barang {
  font-family: "Poppins", sans-serif;
}

#barang img {
  transition: 0.2s ease-in;
}

#barang img:hover {
  transform: scale(1.1);
}

#barang .container .card {
  border: none;
  margin: auto;
  cursor: pointer;
}

/*=====================================================================================   product                       */
/*=====================================================================================   Photos                       */
#motor {
  margin: 6% 0px;
}
#motor img {
  width: 25%;
  transition: 0.3s ease-in-out;
}
#motor img:hover {
  transform: scale(1.02);
}

/*=====================================================================================   Photos                       */

/*=====================================================================================   checkout                       */

body {
  font-family: "Poppins", sans-serif;
}

.step-wizard {
  margin: 10% 0px 2% 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-wizard-list {
  color: #333;
  list-style-type: none;
  border-radius: 10px;
  display: flex;
  padding: 20px 10px;
  position: relative;
  z-index: 10;
}

.step-wizard-item {
  padding: 0 20px;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 170px;
  position: relative;
}
.step-wizard-item + .step-wizard-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 19px;
  background: black;
  width: 100%;
  height: 2px;
  transform: translateX(-50%);
  z-index: -10;
}
.progress-count {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 600;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: transparent;
}
.progress-count:after {
  content: "";
  height: 40px;
  width: 40px;
  background: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -10;
}
.progress-count:before {
  content: "";
  height: 10px;
  width: 20px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%) rotate(-45deg);
  transform-origin: center center;
}
.progress-label {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before {
  display: none;
}
.current-item ~ .step-wizard-item .progress-count:after {
  height: 10px;
  width: 10px;
}
.current-item ~ .step-wizard-item .progress-label {
  opacity: 0.5;
}
.current-item .progress-count:after {
  background: #fff;
  border: 2px solid black;
}
.current-item .progress-count {
  color: black;
}

#checkout {
  margin-bottom: 10%;
  width: 85%;
}

#checkout p {
  color: white;
  padding: 0px 20px;
}

#checkout .trash img {
  margin-right: 20px;
  padding: 5px;
  transition: 0.3s ease-in-out;
}
#checkout .trash img:hover {
  background-color: maroon;
  border-radius: 20px;
}

#checkout button {
  color: white;
  border: 2px solid white;
  background-color: maroon;
  transition: 0.3s ease-in-out;
}
#checkout button:hover {
  color: white;
  background-color: black;
}

/*=====================================================================================   checkout                       */
/*=====================================================================================   photo product                       */
#openProduct .open {
  margin: 10% 0 5% 0;
}

#openProduct .open .contentProduct {
  width: 40%;
}
#openProduct .open .contentProduct .decincre .dec {
  cursor: pointer;
}

/* #openProduct .open .fotoProduct {
  border: 4px solid black;
} */

#openProduct .open .fotoProduct img {
  width: 400px;
  cursor: pointer;
}
#openProduct .open .fotoProduct .thumbnail .thumb {
  width: 130.5px;
}

#bintang .rating .ratingkiri .rating-bintang img {
  width: 40px;
}

#bintang .rating .ratingkiri {
  width: 45%;
}

#bintang .rating .ratingkanan {
  width: 40%;
  color: white;
  padding: 20px;
}

/*=====================================================================================   photo product                       */

/*=====================================================================================   Login                       */
#Login,
#signup {
  margin: 10% 0px;
}
#Login .sesi-login,
#signup .sesi-signup {
  width: 30%;
}

#Login .sesi-login button,
#signup .sesi-signup button {
  background-color: maroon;
  color: white;
  border: 2px solid white;
  transition: 0.3s ease-in-out;
}

#Login .sesi-login button:hover,
#signup .sesi-signup button:hover {
  background-color: black;
  border: 2px solid white;
}
/*=====================================================================================   Login                       */

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: maroon;
}
/* akhir scroll bar */

/* cart */

.cart .gambar {
  background-color: maroon;
  cursor: pointer;
}

footer a {
  color: white;
}
footer a:hover {
  color: cyan;
}

/* cart */
@media screen and (max-width: 768px) {
  #opening h2 {
    font-size: 30px;
  }

  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .content .content-left {
    padding-top: 30px;
    margin-left: 0px;
    width: 300px;
  }
  .content .content-left h1 {
    padding-bottom: 20px;
  }
  .content .content-left p {
    padding-bottom: 0px;
  }

  /* yt */

  #video iframe {
    width: 80%;
    height: 80%;
  }

  /* yt */

  /* carrousel */

  #carrousel img {
    width: 70%;
  }
  /* alhir carrousel */
  /* ===================================================================== product */

  #carrousel-product {
    margin-top: 20%;
  }
  #barang .container {
    display: flex;
    flex-direction: column;
  }

  #barang .card {
    margin-right: 0px;
  }
  /* ===================================================================== product */
  /* ===================================================================== photos */
  #motor {
    margin-top: 20%;
  }

  #motor .containt img {
    width: 75%;
  }
  /* ===================================================================== photos */

  /*=====================================================================================   photo product*/
  #openProduct .open {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
  }
  #openProduct .open .fotoProduct .thumbnail .thumb {
    width: 129px;
  }
  #openProduct .open .fotoProduct {
    margin-bottom: 20px;
  }

  #openProduct .open .contentProduct {
    width: 90%;
  }
  #bintang .rating {
    display: flex;
    flex-direction: column;
  }

  #bintang .rating .ratingkiri {
    width: 90%;
  }

  #bintang .rating .ratingkanan {
    width: 90%;
  }
  /*=====================================================================================   photo product*/

  /*=====================================================================================   checkout*/
  .step-wizard {
    margin-top: 20%;
  }

  .step-wizard-item {
    min-width: 100px;
  }

  #checkout {
    width: 95%;
  }

  #checkout .checkout p {
    font-size: 8px;
  }
  #checkout .checkout .trash img {
    width: 30px;
  }
  /*=====================================================================================   checkout*/
}
